MYSQL_DATABASE="db_name"
SQLALCHEMY_DATABASE_URI=f"mysql://root:root@password/{MYSQL_DATABASE}"
SQLALCHEMY_TRACK_MODIFICATIONS=False
JWT_SECRET_KEY="your secret"

MYSQL_ROOT_PASSWORD="root password"
MYSQL_PASSWORD="db password"
MYSQL_USER="db user"
REDIS_URL="redis://redis:6379/0"
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_DB=0